Repository WebUI-Project-Based-07-vk/BackEnd, pull requests merged in 2024-07, with the labels that each got.

#52 added unit tests for offerService
  src/test/unit/services/offer.spec.js
Labels: Backend, test

#37 added unit tests for langMiddleware
  src/test/unit/middlewares/appLanguage.spec.js
Labels: Backend, test

#48 eslint line separators complain fix
  .eslintrc.json
  .gitattributes
Labels: Backend, bug

#60 /auth/google-auth swagger added
  src/docs/paths/auth.yaml
Labels: Backend, documentation

#47 /auth/google-auth endpoint and tests added
  package-lock.json
  package.json
  src/consts/errors.js
  src/controllers/auth.js
  src/routes/auth.js
  src/services/auth.js
  src/test/helpers.js
  src/test/integration/controllers/auth.spec.js
Labels: Backend, feature

#65 email service integration test added
  src/test/integration/services/email.spec.js
Labels: test
